body {
    background: #1E1E1E;
    margin: 0;
}

button {
    border:none;
    color: white;
    background-color: black;
    cursor: pointer; 
}

.ControlBox {
    background-color: rgb(50, 50, 50);
    height: 100%;
    width:200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ControlBoxDesc {
    color: white;
    margin: auto;
}

.ProgressBar {
    width:90%;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin:auto;
}
.Progress {
    width:0%;
    height:20px;
    background-color: blue;
    color: white;
}
#CornerBoxUpperLeft, #CornerBoxUpperRight {
    height: 25px;
    width: 25px;
    background-color:rgb(46, 46, 46);
    position: fixed;
    margin: auto;
    z-index: 1000;
}
#CornerBoxUpperLeft {
    border-left: solid black;
    border-bottom: solid black;
    top:0;
    right:0;
}
#CornerBoxUpperRight {
    border-bottom: solid black;
    border-right: solid black;
    top:0;
    left:0;
}
#Controls{

    width: 50%;
    height: 100%;
    float: left;
    margin: auto;
    display: flex;
}
#timer{
    display: inline-block;
    bottom: 0;
    left: 0;
    font-size: 1.5em;
    margin: 0 auto;
    color: rgb(21, 194, 168);
    position: absolute;
    font-variant-numeric: tabular-nums;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#settingsbar{
    width:100%;
    height:30px;
    border-top: solid;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    position: fixed;
    background-color:gray;
    text-align: justify;
}
#canvas {
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    top:0;
    margin: auto;
}
#top, #bottom, #left, #right {
    margin:auto;
    background-color: rgb(46, 46, 46);
    border-color: #000000;
    position: fixed;
    box-sizing: border-box;
}
#left, #right {
	top: 0; bottom: 0;
    width: 15px;
}
#left { left: 0; border-right: solid;}
#right { right: 0; border-left: solid;}
	
#top {
	left: 0; right: 0;
    height: 15px;
}
#top { top: 0; border-bottom: solid;}

#game {
    position: absolute;
    padding: 15px;
    padding-bottom: 30px;
    margin: 0;

    top:0;left:0;right:0;bottom:0;
}