body {
    background: #1E1E1E;
}
button {
    border:none;
    color: white;
    background-color: black;
    cursor: pointer; 
}

.ControlBox {
    background-color: goldenrod;
    width:200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ControlBoxDesc {
    color: white;
    margin: auto;
}

.ProgressBar {
    width:90%;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin:auto;
}
.Progress {
    width:0%;
    height:20px;
    background-color: blue;
    color: white;
}
#Controls{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
}
#timer{
    bottom: 0;
    left: 0;
    font-size: 10px;
    margin: auto;
    color: rgba(168, 206, 200, 0.5);
    position: absolute;
}