body {
    background: #1E1E1E;
}
button {
    border:none;
    color: white;
    background-color: black;
    cursor: pointer; 
}

.ControlBox {
    background-color: goldenrod;
    width:200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ControlBoxDesc {
    color: white;
    margin: auto;
}

.ProgressBar {
    width:90%;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin:auto;
}
.Progress {
    width:0%;
    height:20px;
    background-color: blue;
    color: white;
}
.CornerBox{
    height:30px;
    width:30px;
    background-color:rgb(46, 46, 46);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    position:absolute;
    bottom:0;
    left:0;
}
.CornerBox:nth-child(1){
   right:0;
}
.CornerBox:nth-child(1){
    top:0;
}
.CornerBox:nth-child(1){
    top:0;
    right:0;
}
#Controls{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
}
#timer{
    display: inline-block;
    bottom: 0;
    left: 0;
    font-size: 2vw;
    margin: 0 auto;
    color: rgb(21, 194, 168);
    position: absolute;
    font-variant-numeric: tabular-nums;
    overflow: hidden;
}
#settingsbar{
    width:100%;
    height:30px;
    border-top: solid;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    position: fixed;
    background-color:gray;
    text-align: justify;
}
#canvas {
    position: absolute;
    bottom:0;
    right:0;
    margin: auto;
    margin-bottom: 35px;
}